<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jhoan Andres Monsalve Garcia</title>
<link rel="stylesheet" href="../css/cssAutobiografia.css">
</head>
<body> 
    <div id="wrapper">
        <article class="instruction">
            <h1>Desarrollo de software</h1>
            <section class="columns">
                <p>La <code>programacion </code>Me gusta con todo lo que tenga que ver con programacion y sistemas, en CESDE he podido aprender de todo, logica de programacion, lenguajes; Tambien me ayuda en tener mi mente mas agil a la hora de pensar en como solucionar un problema de programacion.</p>
            
            </section>
        </article>
        <img src="../img/img3.jpeg">
    </div>
</body>
</html>