<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jhoan Andres Monsalve Garcia</title>
<link rel="stylesheet" href="../css/cssINDEX.css">   
</head>
<body>
    

    <h2>Haz lo que sientas en tu corazon para estar bien, por que de todos modos seras criticado de cualquier forma. Seras condenado si lo haces. y condenado si no los haces.</h2>

<div class="example"><h1>Jhoan Andres Mosnalve Garcia</h1></div>

<p>Tienes el poder de crear la vuida de tus sueños.</p>

</body>
</html>